{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "root",
            "./src/js/"
          ],
          [
            "components",
            "./src/js/components/"
          ],
          [
            "constants",
            "./src/js/constants/"
          ],
          [
            "contexts",
            "./src/js/contexts/"
          ],
          [
            "helpers",
            "./src/js/helpers/"
          ],
          [
            "pages",
            "./src/js/pages/"
          ],
          [
            "routes",
            "./src/js/routes/"
          ],
          [
            "reducers",
            "./src/js/reducers/"
          ],
          [
            "actions",
            "./src/js/actions/"
          ],
          [
            "proptypes",
            "./src/js/proptypes/"
          ],
          [
            "middleware",
            "./src/js/middleware/"
          ]
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
